<div id="mens-grid-links" class="grid--full grid--rev two-col-grid">
  <div class="grid__item large--one-half">
    <div class="grid--full">
      <div class="grid__item one-whole">
        <div class="grid-square">
          <div class="grid-content img">
            <img src="https://cdn.shopify.com/s/files/1/1330/8707/files/mens-grid-right-square-big.jpg?680865160727412910">
          </div>
          <div class="grid-overlay"></div>
		  <div class="grid-video text-white">          
            <div class="center-text text-center">
              <div class="wrapper">
                <h2 class="text-center">Feel the Difference</h2>
                <p>Trust us, we're blind. It's the softest shirt you'll ever feel.</p>
                <a class="play-btn white" href="#" data-remodal-target="mens-grid-video" title="play video">
                  <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 160 160" role="img" aria-labelledby="play-btn-title">
                    <title id="play-btn-title">Play Video</title>
                    <path d="M80 10C41.4 10 10 41.4 10 80c0 38.6 31.4 70 70 70s70-31.4 70-70C150 41.4 118.6 10 80 10zM58.9 127.3V97.7 64.1 34.5l61.9 46.4L58.9 127.3z" fill="none"/><polygon points="58.9 64.1 58.9 97.7 58.9 127.3 120.8 80.9 58.9 34.5 " class="a"/><path d="M80 0C35.9 0 0 35.9 0 80s35.9 80 80 80c44.1 0 80-35.9 80-80S124.1 0 80 0zM80 150C41.4 150 10 118.6 10 80 10 41.4 41.4 10 80 10s70 31.4 70 70C150 118.6 118.6 150 80 150z" />
                  </svg>
                </a>
              </div>
            </div>
            <div class="remodal video" data-remodal-id="mens-grid-video">
              <button data-remodal-action="close" class="remodal-close"></button>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/Fkgb6aAHyCQ" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
      <div class="grid__item one-whole">
        <div class="grid-rect">
          <div class="grid-content img">
            <img src="https://cdn.shopify.com/s/files/1/1330/8707/files/mens-grid-right-rectangle.png?12936632719430016678">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="grid__item large--one-half">
    <div class="grid--full">
      <div class="grid__item one-half">
        <div class="grid-square">
          <div class="grid-content img">
            <img src="https://cdn.shopify.com/s/files/1/1330/8707/files/mens-grid-left-square01.jpg?680865160727412910">
          </div>
        </div>
      </div>
      <div class="grid__item one-half">
        <div class="grid-square">
          <div class="grid-content img">
            <img src="https://cdn.shopify.com/s/files/1/1330/8707/files/mens-grid-left-square02.jpg?680865160727412910">
          </div>
        </div>
      </div>
      <div class="grid__item one-whole">
        <div class="grid-square">
          <div class="grid-content img">
            <img src="https://cdn.shopify.com/s/files/1/1330/8707/files/mens-grid-left-square-big.jpg?680865160727412910">
          </div>
          <div class="grid-text cta">
            <div class="center-text text-center">
              <a class="btn-cta white" href="#">Shop New Arrivals</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="cf"></div>
</div>