<div class="{% if settings.easter_enabled and settings.hunt_type == 'easter' or settings.easter_enabled and settings.hunt_type == 'v-day' %}easter-egg-spot paw-icon{% endif %}">
  {% if settings.easter_enabled and settings.hunt_type == 'easter' %}
    {% unless hide %}
        <a class="easter-link" href="{{ settings.easter_url | append: 'pink' }}">
        <img src="{{ '2bb-egg-pink.png' | asset_url }}" class="easter-egg"/>
        </a>
    {% endunless %}
  {% endif %}
  {% if settings.easter_enabled and settings.hunt_type == 'v-day' %}
    <a class="easter-link v-day-link" href="{{ settings.easter_url | append: '?i-heart-2bb' }}">
      <img src="{{ 'heart.png' | asset_url }}" class="easter-egg"/>
    </a>
  {% endif %}
  <svg class="icon-paw" viewBox="0 0 80 77" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M66.8732 59.114L66.6251 58.287L66.1289 56.9638L65.7981 56.1369L64.8884 54.4829L63.648 52.9116L61.994 51.4231L60.0919 49.6864L58.5207 48.1978L57.0321 46.5438L55.7916 44.8899L54.6338 43.1532L53.3934 40.8377L52.6491 39.2664L51.7394 37.5297L50.5816 35.6277L49.2584 33.891L48.3488 32.9813L47.4391 32.1543L46.1986 31.2446L44.71 30.5831L42.808 29.9215L40.9059 29.6734H38.9211L37.0191 29.9215L34.29 30.9138L31.6437 32.7332L29.907 34.4699L28.8319 36.1238L27.7569 38.0259L26.351 40.9204L25.0278 43.484L23.5392 45.4688L21.7199 47.7843L16.3445 52.7462L15.8483 53.1597L14.6078 54.8964L13.6154 56.8812L13.0365 59.3621L12.7057 61.595L12.623 64.0759L12.8711 65.7299L13.6154 68.0454L14.6905 70.1956L15.8483 71.6842L17.3369 73.1727L19.3216 74.4959L21.6372 75.571L23.3738 75.9845L26.0202 76.0672L28.5838 75.4883L30.1551 74.744L30.8167 74.2478L32.3053 73.4208L33.7111 72.5938L34.9516 71.8496L36.2748 71.2707L37.3499 70.7745L38.5904 70.4437L39.9135 70.361L41.4848 70.6091L42.6426 70.8572L44.5446 71.7669L46.8602 72.9246L48.7623 74.1651L50.4989 75.1575L52.2356 75.9018L53.8896 76.2326L55.2954 76.3153L56.4532 76.2326L58.2726 75.7364L60.5881 74.6613L62.2421 73.5035L63.9788 71.7669L65.2192 70.1129L66.2943 67.88L66.9559 65.7299L67.204 63.9105V62.0085L67.1213 60.9334L66.8732 59.114Z" fill="currentColor"/>
    <path d="M60.2667 15.5176C61.0067 8.52262 57.6298 2.43141 52.7242 1.91249C47.8187 1.39357 43.2421 6.64344 42.5021 13.6384C41.7622 20.6334 45.1391 26.7246 50.0447 27.2435C54.9502 27.7624 59.5268 22.5126 60.2667 15.5176Z" fill="currentColor"/>
    <path d="M29.7582 27.2097C34.6637 26.6908 38.0406 20.5996 37.3007 13.6046C36.5607 6.60964 31.9842 1.35976 27.0786 1.87868C22.173 2.3976 18.7961 8.48881 19.5361 15.4838C20.276 22.4787 24.8526 27.7286 29.7582 27.2097Z" fill="currentColor"/>
    <path d="M76.6574 36.2496C78.1766 29.4287 75.5049 23.0299 70.6901 21.9575C65.8753 20.8851 60.7406 25.5453 59.2214 32.3662C57.7022 39.1872 60.3739 45.586 65.1887 46.6584C70.0035 47.7308 75.1382 43.0706 76.6574 36.2496Z" fill="currentColor"/>
    <path d="M14.6279 46.6559C19.4427 45.5836 22.1143 39.1848 20.5951 32.3638C19.0759 25.5428 13.9412 20.8827 9.12642 21.955C4.31161 23.0274 1.63999 29.4262 3.15918 36.2472C4.67837 43.0682 9.81308 47.7283 14.6279 46.6559Z" fill="currentColor"/>
  </svg>
</div>
