<div class="wrapper">
  <div class="instagram">
      <h1 class="slabttext">{{section.settings.hash_1}}</h1>
      <h1 class="slabtext">{{section.settings.hash_2}}</h1>
</div>

<script src="//foursixty.com/media/scripts/fs.embed.v2.5.js" data-feed-id="two-blind-brothers" data-open-links-in-same-page="false" data-theme="showcase_v2_5" data-page-size="4" async></script>
</div>