<div id="logo-desktop-wrapper">
  <a id="logo-desktop" href="/pages/reveal" itemprop="url">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 314.474 80.702" aria-labelledby="logoDesktop" role="img">
        <title id="logoDesktop">Two Blind Brothers</title>
        <polygon class="logo-letter" points="7.407,6.718 0.001,6.718 0.001,0.517 22.221,0.517 22.221,6.718 14.812,6.718 14.812,28.508
          7.407,28.508 "/>
        <path class="logo-letter" d="M36.592,0.517h7.578l1.552,12.23l0.946,8.784h0.172l1.55-8.784l2.67-12.23h6.202l2.67,12.23l1.292,7.278
          l0.258,1.506h0.173l0.947-8.784l1.551-12.23h7.062l-4.65,27.992h-9.388l-2.154-11.111c-0.372-1.923-0.718-4.104-1.031-6.546h-0.173
          l-0.174,1.208c-0.372,2.554-0.66,4.334-0.859,5.338l-2.068,11.111h-9.214L36.592,0.517z"/>
        <path class="logo-letter" d="M151.911,0.518h10.077c3.273,0,5.857,0.524,7.75,1.572c1.898,1.048,2.844,2.85,2.844,5.404
          c0,1.264-0.33,2.476-0.99,3.638c-0.66,1.164-1.506,1.96-2.541,2.39v0.174c1.434,0.431,2.598,1.19,3.488,2.282
          c0.891,1.09,1.336,2.512,1.336,4.262c0,2.757-1.033,4.824-3.102,6.202c-2.066,1.378-4.707,2.066-7.924,2.066h-10.938V0.518z
          M161.816,11.456c1.176,0,2.059-0.252,2.648-0.754s0.883-1.198,0.883-2.089c0-0.861-0.289-1.479-0.863-1.852
          c-0.574-0.374-1.463-0.56-2.668-0.56h-2.496v5.254H161.816z M162.333,22.823c2.869,0,4.307-1.033,4.307-3.1
          c0-1.006-0.344-1.729-1.035-2.176c-0.688-0.444-1.781-0.666-3.271-0.666h-3.014v5.941H162.333z"/>
        <polygon class="logo-letter" points="191.185,0.517 198.591,0.517 198.591,22.307 209.185,22.307 209.185,28.509 191.185,28.509 "/>
        <rect class="logo-letter" x="226.929" y="0.518" width="7.404" height="27.992"/>
        <path class="logo-letter" d="M253.453,0.517h7.582l6.199,12.488l2.67,6.288c0,0-0.775-8.67-0.775-10.68V0.517h7.062v27.992h-7.578
          l-6.201-12.531l-2.67-6.244c0,0,0.773,8.697,0.773,10.68v8.096h-7.062V0.517z"/>
        <path class="logo-letter" d="M291.822,0.517h8.268c4.48,0,7.996,1.12,10.553,3.36c2.553,2.238,3.832,5.742,3.832,10.506
          c0,4.767-1.256,8.312-3.768,10.638c-2.512,2.324-5.908,3.488-10.184,3.488h-8.701V0.517z M299.66,22.564
          c2.27,0,4.039-0.602,5.318-1.808s1.916-3.33,1.916-6.374c0-3.014-0.633-5.088-1.895-6.222c-1.264-1.134-3.043-1.702-5.34-1.702
          h-0.43v16.105H299.66z"/>
        <path class="logo-letter" d="M0,52.194h10.077c3.272,0,5.856,0.523,7.75,1.57c1.896,1.051,2.843,2.85,2.843,5.404
          c0,1.264-0.33,2.479-0.99,3.639c-0.66,1.164-1.506,1.961-2.54,2.391v0.172c1.434,0.43,2.598,1.191,3.488,2.281
          c0.89,1.094,1.334,2.516,1.334,4.266c0,2.756-1.032,4.824-3.101,6.201c-2.065,1.377-4.708,2.066-7.924,2.066H0V52.194z
          M9.905,63.131c1.177,0,2.059-0.25,2.648-0.754c0.588-0.5,0.882-1.199,0.882-2.088c0-0.861-0.288-1.479-0.862-1.852
          c-0.573-0.373-1.464-0.561-2.668-0.561H7.407v5.254H9.905z M10.422,74.499c2.87,0,4.306-1.031,4.306-3.098
          c0-1.008-0.344-1.73-1.034-2.176c-0.688-0.445-1.779-0.668-3.271-0.668H7.407v5.941H10.422z"/>
        <path class="logo-letter" d="M57.304,80.182l-4.821-9.387H49.64v9.387h-7.405V52.194h10.592c3.359,0,6.065,0.695,8.118,2.088
          c2.052,1.393,3.077,3.709,3.077,6.955c0,1.922-0.401,3.559-1.203,4.908c-0.807,1.35-1.91,2.412-3.316,3.186l6.07,10.852H57.304z
          M49.64,64.94h2.67c1.465,0,2.576-0.316,3.339-0.949c0.76-0.629,1.14-1.549,1.14-2.754c0-1.178-0.366-2.004-1.098-2.477
          c-0.732-0.475-1.858-0.711-3.381-0.711h-2.67V64.94z"/>
        <polygon class="logo-letter" points="137.314,58.393 129.908,58.393 129.908,52.194 152.129,52.194 152.129,58.393 144.721,58.393
          144.721,80.184 137.314,80.184 "/>
        <polygon class="logo-letter" points="170.902,52.194 178.308,52.194 178.308,62.614 186.664,62.614 186.664,52.194 194.07,52.194
          194.07,80.182 186.664,80.182 186.664,69.073 178.308,69.073 178.308,80.182 170.902,80.182 "/>
        <polygon class="logo-letter" points="214.914,52.194 233,52.194 233,58.395 222.32,58.395 222.32,62.786 231.449,62.786 231.449,68.987
          222.32,68.987 222.32,73.983 233.429,73.983 233.429,80.182 214.914,80.182 "/>
        <path class="logo-letter" d="M268.568,80.182l-4.822-9.387h-2.842v9.387h-7.406V52.194h10.592c3.359,0,6.066,0.695,8.117,2.088
          c2.055,1.393,3.078,3.709,3.078,6.955c0,1.922-0.4,3.559-1.203,4.908c-0.805,1.35-1.91,2.412-3.316,3.186l6.072,10.852H268.568z
          M260.904,64.94h2.67c1.465,0,2.576-0.316,3.338-0.949c0.76-0.629,1.141-1.549,1.141-2.754c0-1.178-0.365-2.004-1.1-2.477
          c-0.73-0.475-1.855-0.711-3.379-0.711h-2.67V64.94z"/>
        <path class="logo-letter" d="M113.577,14.512c0,8.017-6.498,14.513-14.512,14.513c-8.015,0-14.513-6.496-14.513-14.513
          C84.553,6.498,91.051,0,99.065,0C107.079,0,113.577,6.498,113.577,14.512"/>
        <path class="logo-letter" d="M113.577,66.188c0,8.014-6.498,14.514-14.512,14.514c-8.015,0-14.513-6.5-14.513-14.514
          s6.498-14.512,14.513-14.512C107.079,51.676,113.577,58.174,113.577,66.188"/>
        <path class="logo-letter" d="M312.148,66.667c-1.492-1.355-3.861-2.516-7.016-3.445c-1.953-0.703-3.264-1.283-3.891-1.723
          c-0.533-0.375-0.793-0.852-0.793-1.461c0-0.617,0.285-1.133,0.867-1.57c0.617-0.467,1.492-0.703,2.598-0.703
          c1.107,0,1.951,0.273,2.578,0.836c0.611,0.551,0.91,1.273,0.91,2.219v0.492h6.914l0.016-0.598c0.07-2.5-0.885-4.578-2.844-6.168
          c-1.926-1.559-4.453-2.352-7.512-2.352c-3.051,0-5.592,0.715-7.551,2.125c-2.012,1.447-3.031,3.369-3.031,5.709
          c0,2.328,0.811,4.168,2.406,5.471c1.545,1.26,4.07,2.426,7.695,3.555c1.578,0.578,2.652,1.105,3.184,1.564
          c0.473,0.406,0.701,0.963,0.701,1.701c0,0.727-0.246,1.273-0.752,1.664c-0.457,0.355-1.129,0.562-2.012,0.615l-0.492-0.006
          c-1.57,0-2.723-0.297-3.422-0.879c-0.674-0.559-1.016-1.514-1.016-2.836v-0.492h-6.848l-0.105,0.582
          c-0.041,1.934,0.473,3.635,1.529,5.061c1.045,1.41,2.449,2.471,4.172,3.15c1.691,0.668,3.607,1.006,5.689,1.006
          c3.098,0,5.613-0.693,7.475-2.061c1.908-1.398,2.873-3.332,2.873-5.746C314.472,69.987,313.691,68.065,312.148,66.667"/>
      </svg>

    {% if settings.easter_enabled and settings.hunt_type == 'v-day' %}
      <svg width="315" height="87" viewBox="0 0 315 87" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path class="logo-letter" d="M7.40698 6.71803H0.000976562V0.517029H22.221V6.71803H14.812V28.508H7.40698V6.71803Z" fill="black"/>
        <path class="logo-letter" d="M36.592 0.517029H44.17L45.722 12.747L46.668 21.531H46.84L48.39 12.747L51.06 0.517029H57.262L59.932 12.747L61.224 20.025L61.482 21.531H61.655L62.602 12.747L64.153 0.517029H71.215L66.565 28.509H57.177L55.023 17.398C54.651 15.475 54.305 13.294 53.992 10.852H53.819L53.645 12.06C53.273 14.614 52.985 16.394 52.786 17.398L50.718 28.509H41.504L36.592 0.517029Z" fill="black"/>
        <path class="logo-letter" d="M151.911 0.518005H161.988C165.261 0.518005 167.845 1.04201 169.738 2.09001C171.636 3.13801 172.582 4.94001 172.582 7.49401C172.582 8.75801 172.252 9.97001 171.592 11.132C170.932 12.296 170.086 13.092 169.051 13.522V13.696C170.485 14.127 171.649 14.886 172.539 15.978C173.43 17.068 173.875 18.49 173.875 20.24C173.875 22.997 172.842 25.064 170.773 26.442C168.707 27.82 166.066 28.508 162.849 28.508H151.911V0.518005ZM161.816 11.456C162.992 11.456 163.875 11.204 164.464 10.702C165.053 10.2 165.347 9.50401 165.347 8.61301C165.347 7.75201 165.058 7.13401 164.484 6.76101C163.91 6.38701 163.021 6.20101 161.816 6.20101H159.32V11.455H161.816V11.456ZM162.333 22.823C165.202 22.823 166.64 21.79 166.64 19.723C166.64 18.717 166.296 17.994 165.605 17.547C164.917 17.103 163.824 16.881 162.334 16.881H159.32V22.822L162.333 22.823Z" fill="black"/>
        <path class="logo-letter" d="M191.185 0.517029H198.591V22.307H209.185V28.509H191.185V0.517029Z" fill="black"/>
        <path class="logo-letter" d="M234.333 0.518005H226.929V28.51H234.333V0.518005Z" fill="black"/>
        <path class="logo-letter" d="M253.453 0.517029H261.035L267.234 13.005L269.904 19.293C269.904 19.293 269.129 10.623 269.129 8.61303V0.517029H276.191V28.509H268.613L262.412 15.978L259.742 9.73403C259.742 9.73403 260.515 18.431 260.515 20.414V28.51H253.453V0.517029Z" fill="black"/>
        <path class="logo-letter" d="M291.822 0.517029H300.09C304.57 0.517029 308.086 1.63703 310.643 3.87703C313.196 6.11503 314.475 9.61903 314.475 14.383C314.475 19.15 313.219 22.695 310.707 25.021C308.195 27.345 304.799 28.509 300.523 28.509H291.822V0.517029ZM299.66 22.564C301.93 22.564 303.699 21.962 304.978 20.756C306.257 19.55 306.894 17.426 306.894 14.382C306.894 11.368 306.261 9.29403 304.999 8.16003C303.735 7.02603 301.956 6.45803 299.659 6.45803H299.229V22.563L299.66 22.564Z" fill="black"/>
        <path class="logo-letter" d="M0 52.194H10.077C13.349 52.194 15.933 52.717 17.827 53.764C19.723 54.815 20.67 56.614 20.67 59.168C20.67 60.432 20.34 61.647 19.68 62.807C19.02 63.971 18.174 64.768 17.14 65.198V65.37C18.574 65.8 19.738 66.561 20.628 67.651C21.518 68.745 21.962 70.167 21.962 71.917C21.962 74.673 20.93 76.741 18.861 78.118C16.796 79.495 14.153 80.184 10.937 80.184H0V52.194ZM9.905 63.131C11.082 63.131 11.964 62.881 12.553 62.377C13.141 61.877 13.435 61.178 13.435 60.289C13.435 59.428 13.147 58.81 12.573 58.437C12 58.064 11.109 57.876 9.905 57.876H7.407V63.13L9.905 63.131ZM10.422 74.499C13.292 74.499 14.728 73.468 14.728 71.401C14.728 70.393 14.384 69.671 13.694 69.225C13.006 68.78 11.915 68.557 10.423 68.557H7.407V74.498L10.422 74.499Z" fill="black"/>
        <path class="logo-letter" d="M57.3041 80.182L52.4831 70.795H49.6401V80.182H42.2351V52.194H52.8271C56.1861 52.194 58.8921 52.889 60.9451 54.282C62.9971 55.675 64.0221 57.991 64.0221 61.237C64.0221 63.159 63.6211 64.796 62.8191 66.145C62.0121 67.495 60.9091 68.557 59.5031 69.331L65.5731 80.183L57.3041 80.182ZM49.6401 64.94H52.3101C53.7751 64.94 54.8861 64.624 55.6491 63.991C56.4091 63.362 56.7891 62.442 56.7891 61.237C56.7891 60.059 56.4231 59.233 55.6911 58.76C54.9591 58.285 53.8331 58.049 52.3101 58.049H49.6401V64.94Z" fill="black"/>
        <path class="logo-letter" d="M137.314 58.393H129.908V52.194H152.129V58.393H144.721V80.184H137.314V58.393Z" fill="black"/>
        <path class="logo-letter" d="M170.902 52.194H178.308V62.614H186.664V52.194H194.07V80.182H186.664V69.073H178.308V80.182H170.902V52.194Z" fill="black"/>
        <path class="logo-letter" d="M214.914 52.194H233V58.395H222.32V62.786H231.449V68.987H222.32V73.983H233.429V80.182H214.914V52.194Z" fill="black"/>
        <path class="logo-letter" d="M268.568 80.182L263.746 70.795H260.904V80.182H253.498V52.194H264.09C267.449 52.194 270.156 52.889 272.207 54.282C274.262 55.675 275.285 57.991 275.285 61.237C275.285 63.159 274.885 64.796 274.082 66.145C273.277 67.495 272.172 68.557 270.766 69.331L276.838 80.183L268.568 80.182ZM260.904 64.94H263.574C265.039 64.94 266.15 64.624 266.912 63.991C267.672 63.362 268.053 62.442 268.053 61.237C268.053 60.059 267.688 59.233 266.953 58.76C266.223 58.285 265.098 58.049 263.574 58.049H260.904V64.94Z" fill="black"/>
        <path class="logo-letter" d="M113.577 14.512C113.577 22.529 107.079 29.025 99.065 29.025C91.05 29.025 84.552 22.529 84.552 14.512C84.553 6.498 91.051 0 99.065 0C107.079 0 113.577 6.498 113.577 14.512Z" fill="black"/>
        <path class="logo-letter" d="M312.148 66.667C310.656 65.312 308.287 64.151 305.132 63.222C303.179 62.519 301.868 61.939 301.241 61.499C300.708 61.124 300.448 60.647 300.448 60.038C300.448 59.421 300.733 58.905 301.315 58.468C301.932 58.001 302.807 57.765 303.913 57.765C305.02 57.765 305.864 58.038 306.491 58.601C307.102 59.152 307.401 59.874 307.401 60.82V61.312H314.315L314.331 60.714C314.401 58.214 313.446 56.136 311.487 54.546C309.561 52.987 307.034 52.194 303.975 52.194C300.924 52.194 298.383 52.909 296.424 54.319C294.412 55.766 293.393 57.688 293.393 60.028C293.393 62.356 294.204 64.196 295.799 65.499C297.344 66.759 299.869 67.925 303.494 69.054C305.072 69.632 306.146 70.159 306.678 70.618C307.151 71.024 307.379 71.581 307.379 72.319C307.379 73.046 307.133 73.592 306.627 73.983C306.17 74.338 305.498 74.545 304.615 74.598L304.123 74.592C302.553 74.592 301.4 74.295 300.701 73.713C300.027 73.154 299.685 72.199 299.685 70.877V70.385H292.837L292.732 70.967C292.691 72.901 293.205 74.602 294.261 76.028C295.306 77.438 296.71 78.499 298.433 79.178C300.124 79.846 302.04 80.184 304.122 80.184C307.22 80.184 309.735 79.491 311.597 78.123C313.505 76.725 314.47 74.791 314.47 72.377C314.472 69.987 313.691 68.065 312.148 66.667Z" fill="black"/>
        <path d="M90.0985 86.1497L87.9013 82.3619C80.085 68.9476 74.9295 60.0768 77.471 52.0504C79.554 45.4718 86.3309 41.9722 92.8883 44.0486C96.5928 45.2216 99.6022 48.0719 101.067 51.5106C104.243 49.5415 108.345 48.9428 112.05 50.1158C118.607 52.1922 122.134 58.9545 120.051 65.5332C117.51 73.5596 108.188 77.8462 94.0754 84.3169L90.0985 86.1497Z" fill="#FB9FDB"/>
      </svg>
    {% endif %}
    
      
    {% comment %}
      SNOWY LOGO FOR CHRISTMAS
    {% endcomment %}
    {% comment %}
    <svg width="320" height="99" viewBox="0 0 314.474 80.702" aria-labelledby="logoDesktop" role="img" fill="none" xmlns="http://www.w3.org/2000/svg">
      <title id="logoDesktop">Two Blind Brothers</title>
      <path d="M297.649 77.7021L298.565 80.3219L293.672 82.0309L292.757 79.4111C294.257 77.4176 296.643 77.4411 297.649 77.7021Z" fill="black"/>
      <path d="M297.649 77.7021L298.565 80.3219L293.672 82.0309L292.757 79.4111C294.257 77.4176 296.643 77.4411 297.649 77.7021Z" fill="black"/>
      <path d="M297.649 77.7021L298.565 80.3219L293.672 82.0309L292.757 79.4111C294.257 77.4176 296.643 77.4411 297.649 77.7021Z" fill="#0E5503"/>
      <path d="M292.467 84.3143C292.406 83.4722 292.637 82.5992 293.116 81.9281C293.505 81.3848 294.05 80.9254 294.737 80.689C294.737 80.689 296.674 80.0171 296.689 80.0009C297.33 79.7823 297.929 79.7658 298.453 79.9223C299.687 80.2562 300.614 81.4211 301.157 82.6525C302.26 85.0992 302.388 88.028 302.19 90.713C302.09 92.0402 301.958 94.9983 300.341 95.5455C298.495 96.1818 296.552 93.073 295.748 91.9015C295.085 90.8916 294.452 89.8187 293.927 88.7247C293.335 87.3882 292.571 85.8304 292.467 84.3143Z" fill="#E1DB3D"/>
      <path d="M239.088 76.4191L239.95 73.7814L244.876 75.391L244.014 78.0288C241.612 78.7038 239.729 77.237 239.088 76.4191Z" fill="black"/>
      <path d="M239.088 76.4191L239.95 73.7814L244.876 75.391L244.014 78.0288C241.612 78.7038 239.729 77.237 239.088 76.4191Z" fill="black"/>
      <path d="M239.088 76.4191L239.95 73.7814L244.876 75.391L244.014 78.0288C241.612 78.7038 239.729 77.237 239.088 76.4191Z" fill="#0E5503"/>
      <path d="M247.219 74.3071C246.757 75.0135 246.044 75.5678 245.256 75.8104C244.616 76.0059 243.905 76.0407 243.216 75.812C243.216 75.812 241.268 75.1705 241.246 75.1742C240.604 74.9591 240.118 74.6092 239.796 74.1664C239.018 73.1523 238.988 71.6643 239.303 70.3556C239.911 67.742 241.586 65.3359 243.373 63.3218C244.257 62.3272 246.157 60.0559 247.775 60.6022C249.628 61.2166 249.287 64.8667 249.215 66.2855C249.129 67.4902 248.981 68.7271 248.735 69.9159C248.394 71.3371 248.057 73.0391 247.219 74.3071Z" fill="#BD50B9"/>
      <path d="M37.6406 74.7199L38.5641 77.3368L33.6775 79.0613L32.7539 76.4445C34.2468 74.4462 36.6337 74.4622 37.6406 74.7199Z" fill="black"/>
      <path d="M37.6406 74.7199L38.5641 77.3368L33.6775 79.0613L32.7539 76.4445C34.2468 74.4462 36.6337 74.4622 37.6406 74.7199Z" fill="black"/>
      <path d="M37.6406 74.7199L38.5641 77.3368L33.6775 79.0613L32.7539 76.4445C34.2468 74.4462 36.6337 74.4622 37.6406 74.7199Z" fill="#0E5503"/>
      <path d="M32.4795 81.3486C32.4159 80.5067 32.6434 79.6329 33.1206 78.9603C33.5084 78.4158 34.0515 77.9546 34.7374 77.7161C34.7374 77.7161 36.6729 77.038 36.6879 77.0218C37.3281 76.8012 37.9265 76.7828 38.4517 76.9376C39.6867 77.2675 40.6166 78.4295 41.1642 79.6592C42.2743 82.1023 42.412 85.0307 42.2223 87.7163C42.1272 89.0438 42.0045 92.0023 40.3887 92.5547C38.5445 93.1969 36.5917 90.0942 35.7844 88.9253C35.1186 87.9175 34.4823 86.8466 33.9529 85.7543C33.3571 84.4197 32.5878 82.8644 32.4795 81.3486Z" fill="#E1DB3D"/>
      <path class="logo-letter" d="M12.407 6.71797H5.00098V0.516968H27.221V6.71797H19.812V28.508H12.407V6.71797Z" fill="white"/>
      <path class="logo-letter" d="M41.592 0.516968H49.17L50.722 12.747L51.668 21.531H51.84L53.39 12.747L56.06 0.516968H62.262L64.932 12.747L66.224 20.025L66.482 21.531H66.655L67.602 12.747L69.153 0.516968H76.215L71.565 28.509H62.177L60.023 17.398C59.651 15.475 59.305 13.294 58.992 10.852H58.819L58.645 12.06C58.273 14.614 57.985 16.394 57.786 17.398L55.718 28.509H46.504L41.592 0.516968Z" fill="white"/>
      <path class="logo-letter" d="M156.911 0.517944H166.988C170.261 0.517944 172.845 1.04194 174.738 2.08994C176.636 3.13794 177.582 4.93994 177.582 7.49394C177.582 8.75794 177.252 9.96994 176.592 11.1319C175.932 12.2959 175.086 13.0919 174.051 13.5219V13.6959C175.485 14.1269 176.649 14.8859 177.539 15.9779C178.43 17.0679 178.875 18.4899 178.875 20.2399C178.875 22.9969 177.842 25.0639 175.773 26.4419C173.707 27.8199 171.066 28.5079 167.849 28.5079H156.911V0.517944ZM166.816 11.4559C167.992 11.4559 168.875 11.2039 169.464 10.7019C170.053 10.1999 170.347 9.50394 170.347 8.61294C170.347 7.75194 170.058 7.13394 169.484 6.76094C168.91 6.38694 168.021 6.20094 166.816 6.20094H164.32V11.4549H166.816V11.4559ZM167.333 22.8229C170.202 22.8229 171.64 21.7899 171.64 19.7229C171.64 18.7169 171.296 17.9939 170.605 17.5469C169.917 17.1029 168.824 16.8809 167.334 16.8809H164.32V22.8219H167.333V22.8229Z" fill="white"/>
      <path class="logo-letter" d="M196.185 0.516968H203.591V22.307H214.185V28.509H196.185V0.516968Z" fill="white"/>
      <path class="logo-letter" d="M239.333 0.517944H231.929V28.5099H239.333V0.517944Z" fill="white"/>
      <path class="logo-letter" d="M258.453 0.516968H266.035L272.234 13.005L274.904 19.293C274.904 19.293 274.129 10.623 274.129 8.61297V0.516968H281.191V28.509H273.613L267.412 15.978L264.742 9.73397C264.742 9.73397 265.515 18.431 265.515 20.414V28.51H258.453V0.516968V0.516968Z" fill="white"/>
      <path class="logo-letter" d="M296.822 0.516968H305.09C309.57 0.516968 313.086 1.63697 315.643 3.87697C318.196 6.11497 319.475 9.61897 319.475 14.383C319.475 19.15 318.219 22.695 315.707 25.021C313.195 27.345 309.799 28.509 305.523 28.509H296.822V0.516968ZM304.66 22.564C306.93 22.564 308.699 21.962 309.978 20.756C311.257 19.55 311.894 17.426 311.894 14.382C311.894 11.368 311.261 9.29397 309.999 8.15997C308.735 7.02597 306.956 6.45797 304.659 6.45797H304.229V22.563H304.66V22.564Z" fill="white"/>
      <path class="logo-letter" d="M5 52.194H15.077C18.349 52.194 20.933 52.717 22.827 53.764C24.723 54.815 25.67 56.614 25.67 59.168C25.67 60.432 25.34 61.647 24.68 62.807C24.02 63.971 23.174 64.768 22.14 65.198V65.37C23.574 65.8 24.738 66.561 25.628 67.651C26.518 68.745 26.962 70.167 26.962 71.917C26.962 74.673 25.93 76.741 23.861 78.118C21.796 79.495 19.153 80.184 15.937 80.184H5V52.194ZM14.905 63.131C16.082 63.131 16.964 62.881 17.553 62.377C18.141 61.877 18.435 61.178 18.435 60.289C18.435 59.428 18.147 58.81 17.573 58.437C17 58.064 16.109 57.876 14.905 57.876H12.407V63.13H14.905V63.131ZM15.422 74.499C18.292 74.499 19.728 73.468 19.728 71.401C19.728 70.393 19.384 69.671 18.694 69.225C18.006 68.78 16.915 68.557 15.423 68.557H12.407V74.498H15.422V74.499Z" fill="white"/>
      <path class="logo-letter" d="M62.304 80.182L57.483 70.795H54.64V80.182H47.235V52.194H57.827C61.186 52.194 63.892 52.889 65.945 54.282C67.997 55.675 69.022 57.991 69.022 61.237C69.022 63.159 68.621 64.796 67.819 66.145C67.012 67.495 65.909 68.557 64.503 69.331L70.573 80.183H62.304V80.182ZM54.64 64.94H57.31C58.775 64.94 59.886 64.624 60.649 63.991C61.409 63.362 61.789 62.442 61.789 61.237C61.789 60.059 61.423 59.233 60.691 58.76C59.959 58.285 58.833 58.049 57.31 58.049H54.64V64.94Z" fill="white"/>
      <path class="logo-letter" d="M142.314 58.393H134.908V52.194H157.129V58.393H149.721V80.184H142.314V58.393Z" fill="white"/>
      <path d="M173.696 78.8083L172.946 81.4801L167.957 80.0794L168.707 77.4077C171.078 76.6321 173.021 78.0183 173.696 78.8083Z" fill="black"/>
      <path d="M173.696 78.8083L172.946 81.4801L167.957 80.0794L168.707 77.4077C171.078 76.6321 173.021 78.0183 173.696 78.8083Z" fill="black"/>
      <path d="M173.696 78.8083L172.946 81.4801L167.957 80.0794L168.707 77.4077C171.078 76.6321 173.021 78.0183 173.696 78.8083Z" fill="#0E5503"/>
      <path d="M165.661 81.261C166.094 80.5358 166.782 79.952 167.56 79.6764C168.19 79.4541 168.9 79.3893 169.598 79.5888C169.598 79.5888 171.571 80.1477 171.593 80.143C172.243 80.3309 172.743 80.6601 173.084 81.0888C173.904 82.0692 173.996 83.5546 173.737 84.8755C173.239 87.5124 171.667 89.987 169.967 92.0745C169.125 93.1055 167.323 95.4549 165.684 94.9771C163.806 94.4414 163.993 90.7801 164.006 89.3596C164.041 88.1523 164.136 86.9103 164.332 85.7123C164.612 84.2779 164.878 82.5632 165.661 81.261Z" fill="#7FBD50"/>
      <path class="logo-letter" d="M175.902 52.194H183.308V62.614H191.664V52.194H199.07V80.182H191.664V69.073H183.308V80.182H175.902V52.194Z" fill="white"/>
      <path class="logo-letter" d="M219.914 52.194H238V58.395H227.32V62.786H236.449V68.987H227.32V73.983H238.429V80.182H219.914V52.194Z" fill="white"/>
      <path class="logo-letter" d="M273.568 80.182L268.746 70.795H265.904V80.182H258.498V52.194H269.09C272.449 52.194 275.156 52.889 277.207 54.282C279.262 55.675 280.285 57.991 280.285 61.237C280.285 63.159 279.885 64.796 279.082 66.145C278.277 67.495 277.172 68.557 275.766 69.331L281.838 80.183H273.568V80.182ZM265.904 64.94H268.574C270.039 64.94 271.15 64.624 271.912 63.991C272.672 63.362 273.053 62.442 273.053 61.237C273.053 60.059 272.688 59.233 271.953 58.76C271.223 58.285 270.098 58.049 268.574 58.049H265.904V64.94Z" fill="white"/>
      <path class="logo-letter" d="M118.577 14.512C118.577 22.529 112.079 29.025 104.065 29.025C96.05 29.025 89.552 22.529 89.552 14.512C89.553 6.498 96.051 0 104.065 0C112.079 0 118.577 6.498 118.577 14.512Z" fill="white"/>
      <path class="logo-letter" d="M118.577 66.188C118.577 74.202 112.079 80.702 104.065 80.702C96.05 80.702 89.552 74.202 89.552 66.188C89.552 58.174 96.05 51.676 104.065 51.676C112.079 51.676 118.577 58.174 118.577 66.188Z" fill="white"/>
      <path class="logo-letter" d="M317.148 66.667C315.656 65.312 313.287 64.151 310.132 63.222C308.179 62.519 306.868 61.939 306.241 61.499C305.708 61.124 305.448 60.647 305.448 60.038C305.448 59.421 305.733 58.905 306.315 58.468C306.932 58.001 307.807 57.765 308.913 57.765C310.02 57.765 310.864 58.038 311.491 58.601C312.102 59.152 312.401 59.874 312.401 60.82V61.312H319.315L319.331 60.714C319.401 58.214 318.446 56.136 316.487 54.546C314.561 52.987 312.034 52.194 308.975 52.194C305.924 52.194 303.383 52.909 301.424 54.319C299.412 55.766 298.393 57.688 298.393 60.028C298.393 62.356 299.204 64.196 300.799 65.499C302.344 66.759 304.869 67.925 308.494 69.054C310.072 69.632 311.146 70.159 311.678 70.618C312.151 71.024 312.379 71.581 312.379 72.319C312.379 73.046 312.133 73.592 311.627 73.983C311.17 74.338 310.498 74.545 309.615 74.598L309.123 74.592C307.553 74.592 306.4 74.295 305.701 73.713C305.027 73.154 304.685 72.199 304.685 70.877V70.385H297.837L297.732 70.967C297.691 72.901 298.205 74.602 299.261 76.028C300.306 77.438 301.71 78.499 303.433 79.178C305.124 79.846 307.04 80.184 309.122 80.184C312.22 80.184 314.735 79.491 316.597 78.123C318.505 76.725 319.47 74.791 319.47 72.377C319.472 69.987 318.691 68.065 317.148 66.667Z" fill="white"/>
      <path d="M97.8769 73.2514L99.0712 70.7465L103.749 72.9766L102.554 75.4815C100.086 75.8419 98.4077 74.1449 97.8769 73.2514Z" fill="black"/>
      <path d="M97.8769 73.2514L99.0712 70.7465L103.749 72.9766L102.554 75.4815C100.086 75.8419 98.4077 74.1449 97.8769 73.2514Z" fill="black"/>
      <path d="M97.8769 73.2514L99.0712 70.7465L103.749 72.9766L102.554 75.4815C100.086 75.8419 98.4077 74.1449 97.8769 73.2514Z" fill="#0E5503"/>
      <path d="M106.212 72.2033C105.663 72.8442 104.885 73.3022 104.072 73.4413C103.413 73.553 102.702 73.4959 102.048 73.1804C102.048 73.1804 100.199 72.2936 100.177 72.2944C99.568 71.9985 99.1314 71.589 98.8689 71.1085C98.2276 70.0026 98.3898 68.5232 98.8706 67.266C99.81 64.7523 101.781 62.5817 103.812 60.8143C104.817 59.9418 106.993 57.9338 108.527 58.6838C110.286 59.5316 109.477 63.1074 109.223 64.5051C108.983 65.6887 108.677 66.8963 108.281 68.0435C107.76 69.4092 107.206 71.0536 106.212 72.2033Z" fill="#BD50B9"/>
      <path d="M4.99998 67.5C1.66664 70.6667 -3.00002 77.1 4.99998 77.5C10.3333 78.1667 27.4 78 53 72C55.8333 71.1667 62.6 70 67 72C67.6667 72.5 68.7 73.7 67.5 74.5" stroke="#0E5503"/>
      <path d="M60 76.5C58.6667 76.8334 57.1 77.8 61.5 79C66.1667 79.8334 77.3 80.6 84.5 77C88.5 75.1667 96.8 71.9 98 73.5C101.833 75.3334 110.4 79 114 79C118.667 80.1667 130.8 81.4 142 77C147.333 75.3334 160 72.9 168 76.5C169.833 77.3333 174 78.8 176 78" stroke="#0E5503"/>
      <path d="M183.5 76.5C185 76.5 187 73.5 188.5 69" stroke="#0E5503"/>
      <path d="M189.5 62.5C189.833 62 190.7 61.3 191.5 62.5C196.833 68.8333 209.9 80.8 219.5 78" stroke="#0E5503"/>
      <path d="M228 74C228.667 73.5 230.5 72.8 232.5 74C237.833 76.5 250.3 81 257.5 79C260.667 77.8333 267.7 75.7 270.5 76.5C275.5 77.3333 286.6 79 291 79C292.667 79 296.7 78.5 299.5 76.5" stroke="#0E5503"/>
      <path d="M305.5 72.9999C308 71.4999 315 66 317 66.4999C318 66.4999 319 67.5 318.5 68" stroke="#0E5503"/>
      </svg>
    {% endcomment %}
  </a>
</div>
