<svg version="1.1" width="75%" height="auto" style="height: auto;" viewBox="0 0 1105 154" aria-labelledby="timeline-mini-title timeline-mini-desc" class="svg-text centered">
<title id="timeline-mini-title">2BB_Web_FINAL</title>
   <desc id="timeline-mini-desc">A horizontal line graph that is filled in about 80 percent of the way with yellow. On the left is a closed eye, on the right an open eye.</desc>
    <rect x="868.3" y="67" width="130" height="11" fill="#ebebeb"/>
    <text transform="translate(133 53)" font-size="18" fill="#231f20" textLength="800">THE DEVELOPMENT OF A CURE SIMPLY REQUIRES TIME &amp; FUNDING</text>
    <text transform="translate(600 130)" font-size="18" fill="#231f20"  textLength="300">HELP US CLOSE THE GAP</text>
    <circle cx="1036.1" cy="72.6" r="55.3" fill="none" stroke="#231f20" stroke-miterlimit="10" stroke-width="17" stroke-dasharray="4.96 19.84"/>
    <path d="M1070.1,72.7a38.6,38.6,0,0,1-68,0,38.6,38.6,0,0,1,68,0Z" fill="none" stroke="#231f20" stroke-miterlimit="10" stroke-width="5.66"/>
    <circle cx="1038.1" cy="76.7" r="13.7" fill="#f0d83d"/>
    <path d="M1036.2,52.3a17.4,17.4,0,1,0,17.4,17.4A17.4,17.4,0,0,0,1036.2,52.3Zm0,29.6a12.3,12.3,0,1,1,7.7-21.8l1.7,1.6a12.3,12.3,0,0,1-9.3,20.2Zm1.7-14.2v-5l-1.7-.2a7.1,7.1,0,1,0,6.9,5.2Z" fill="#231f20"/>
    <path d="M1043.3,69.6a7.1,7.1,0,1,1-7.1-7.1l1.7.2v5h5.2A7.1,7.1,0,0,1,1043.3,69.6Z" fill="#fff"/>
    <path d="M1043.3,69.6a7.1,7.1,0,1,1-7.1-7.1l1.7.2v5h5.2A7.1,7.1,0,0,1,1043.3,69.6Z" fill="#231f20"/>
    <path d="M1045.5,61.7l-1.7-1.6a12.3,12.3,0,1,0,1.7,1.6Zm-9.3,15.1a7.1,7.1,0,1,1,0-14.2l1.7.2v5h5.2a7.1,7.1,0,0,1-6.9,9Z" fill="none"/>
    <path d="M100.8,61.9a43,43,0,0,1-75.7.9" fill="none" stroke="#231f20" stroke-miterlimit="10" stroke-width="5"/>
    <line x1="24.5" y1="75" x2="11" y2="86" fill="none" stroke="#231f20" stroke-miterlimit="10" stroke-width="5"/>
    <line x1="37" y1="87" x2="28" y2="100" fill="none" stroke="#231f20" stroke-miterlimit="10" stroke-width="5"/>
    <line x1="54.4" y1="93" x2="52" y2="109" fill="none" stroke="#231f20" stroke-miterlimit="10" stroke-width="5"/>
    <line x1="73.3" y1="93" x2="76" y2="109" fill="none" stroke="#231f20" stroke-miterlimit="10" stroke-width="5"/>
    <line x1="89.2" y1="87" x2="98" y2="100" fill="none" stroke="#231f20" stroke-miterlimit="10" stroke-width="5"/>
    <line x1="101.5" y1="75" x2="115" y2="86" fill="none" stroke="#231f20" stroke-miterlimit="10" stroke-width="5"/>
    <rect x="132.6" y="67" width="761.5" height="11.37" fill="#f0d83d"/><polygon points="903.3 72.8 891.2 85 891.2 60.7 903.3 72.8" fill="#f0d83d"/>
    <polygon points="947.3 102.2 935.2 90.1 923 102.2 929.5 102.2 929.5 117 908.7 117 908.7 128.4 929.5 128.4 940.8 128.4 940.8 117 940.8 102.2 947.3 102.2" fill="#f0d83d"/>
</svg>