<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 160 160" role="img" aria-labelledby="play-btn-title" class={{ classes }}>
  <title id="play-btn-title">{% if title %} {{ title }} - play video {% else %} Play video {%endif%}</title>
  <path d="M80 10C41.4 10 10 41.4 10 80c0 38.6 31.4 70 70 70s70-31.4 70-70C150 41.4 118.6 10 80 10zM58.9 127.3V97.7 64.1 34.5l61.9 46.4L58.9 127.3z" fill="none"/>
  <polygon points="58.9 64.1 58.9 97.7 58.9 127.3 120.8 80.9 58.9 34.5 " class="a" fill="{{ fill }}" role="link"/>
  <path d="M80 0C35.9 0 0 35.9 0 80s35.9 80 80 80c44.1 0 80-35.9 80-80S124.1 0 80 0zM80 150C41.4 150 10 118.6 10 80 10 41.4 41.4 10 80 10s70 31.4 70 70C150 118.6 118.6 150 80 150z" fill="{{ fill }}" />
</svg>