<svg version="1.1" viewBox="0 0 400 400" id="svg-ellen">
    <a href="#" data-remodal-target="ellen-grid-video" role="link">
    <rect x="16.8" y="17.8" width="367.5" height="367.48" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="10"/>
    <rect width="400" height="400" fill="#231f20"/>
    <text transform="translate(62.3 266.9)" font-size="31" font-weight="700" xml:space="preserve">
        <tspan fill="#fff" x="0" dx="0 4.5 4.5 4.5 4.5 4.5 4.5 4.5 4.5 4.5 4.5">WATCH US ON </tspan>
        <tspan font-size="73" fill="#f0d83d" x="0" y="70" dx="0 11.5 11.5 11.5 11.5">ELLEN</tspan>
    </text>
    </a>
    <polygon points="120.6 140 171.3 140 171.3 56.1 228.7 56.1 228.7 140 279.4 140 200 219.4 120.6 140" fill="#fff"/>
    <rect x="16.2" y="17.8" width="367.5" height="367.48" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="10"/>
</svg>