 <svg version="1.1" viewBox="0 0 462 383" class="{{ classes }}" aria-labelledby="tee-profits-title tee-profits-desc" role="img"
   {{dataAttr}}>
    <title id="tee-profits-title">Tee shirt graphic</title>
    <desc id="tee-profits-desc">An illustration of a t-shirt saying 100% of profits for a cure</desc>
    <path d="M103.4,378.3V112.9l-75,18.4L6.1,44.9,141.8,9.6l16-4.1a124.5,124.5,0,0,0,52.8,23.3,124.2,124.2,0,0,0,22.3,2,124.2,124.2,0,0,0,22.3-2A124.5,124.5,0,0,0,306.6,6.4l16.1,4.3.5-.3L456.1,44.9l-22.3,86.4-71.5-18.5V378.3Z" fill="#fff"/>
    <path d="M156.7,10.9a129.4,129.4,0,0,0,52.9,22.7,129.2,129.2,0,0,0,23.2,2.1A129.1,129.1,0,0,0,256,33.6a129.5,129.5,0,0,0,51.6-21.8l12,3.2,3.8,1,.6-.3L450,48.5l-19.8,76.8-60.5-15.6-12.5-3.2v267H108.4V106.5l-12.4,3L32,125.3,12.2,48.5l130.9-34,13.7-3.5M158.9,0,140.6,4.8,0,41.3l24.8,96.1,73.6-18.1V383.3H367.3V119.3l70.1,18.1,24.8-96.1L322.7,5l-.5.3L305.5.9a118.8,118.8,0,0,1-51.3,22.8,118.8,118.8,0,0,1-21.4,1.9,118.8,118.8,0,0,1-21.4-1.9A118.9,118.9,0,0,1,158.9,0Z" fill="#231f20"/>
    <text transform="translate(138.3 0)" font-weight="700">
        <tspan x="0" y="176.5" font-size="55.35" dx="0 9 9 9">100%</tspan>
        <tspan x="7" y="210.6" font-size="25" dx="0 3 3 3 3 3 3 3 3 3">OF PROFITS
        <tspan x="7" y="245.6" dx="0 3 3 3 3 3 3 3 3 3">FOR A CURE</tspan></tspan>
    </text>
  <image src="{{ 'curing-blindness_profits-for-cure.png' | asset_url }}" alt="100% of profits for a cure" role="img" />  
</svg>