<svg version="1.1" viewBox="0 0 337.8 285.6" role="img" class="{{ classes }}" aria-labelledby="title desc"
   {{ dataAttr }}>
    <title>T shirt illustration</title>
    <desc>A t-shirt saying be a part of the cure</desc>
    <path d="M337.8,47.7l-17.2,66.8L271.8,102V285.6H84.8V102L33.6,114.6,16.3,47.7l97.8-25.4L126.9,19a82.7,82.7,0,0,0,36.6,16.5,82.6,82.6,0,0,0,14.9,1.3,82.6,82.6,0,0,0,14.9-1.3,82.6,82.6,0,0,0,35.7-15.9l11.5,3,.4-.2Z" fill="#f0d83d"/>
    <path d="M73.4,261.6V76.6L20.8,89.5,6.1,32.3,99,8.2l10.4-2.7a88.1,88.1,0,0,0,36.8,16,87.9,87.9,0,0,0,15.8,1.4,87.9,87.9,0,0,0,15.8-1.4A88.1,88.1,0,0,0,213.6,6.1L224.7,9l.4-.2,90.3,23.5L300.6,89.5l-50.2-13V261.6Z" fill="#fff"/>
    <path d="M108.4,10.9a93.1,93.1,0,0,0,36.9,15.5,92.9,92.9,0,0,0,16.7,1.5,92.9,92.9,0,0,0,16.6-1.5,93.1,93.1,0,0,0,36-14.9l6.9,1.8,3.8,1,.4-.2,83.6,21.7L297,83.4,257.9,73.3l-12.5-3.2V256.6H78.4V70.2L66,73.2,24.5,83.5,12.2,35.9,100.3,13l8.1-2.1M110.5,0,97.8,3.3,0,28.7,17.2,95.6,68.4,83V266.6h187V83l48.8,12.6,17.2-66.8-97-25.2-.4.2L212.5.7a82.6,82.6,0,0,1-35.7,15.9,82.6,82.6,0,0,1-14.9,1.3,82.6,82.6,0,0,1-14.9-1.3A82.7,82.7,0,0,1,110.5,0Z"/>
    <text transform="translate(113.4 84.2)" font-size="33.63" class="svg-text" xml:space="preserve" role="heading">
    <tspan x="0" dx="0 5 5 5">BE A</tspan>
    <tspan x="-6.7" y="39.9" dx="0 6 6 6">PART</tspan>
    <tspan x="-26.6" y="79.8"  dx="0 5 5 5 5 5">OF THE</tspan>
    <tspan x="-7.6" y="119.8"  dx="0 8 8 8">CURE</tspan>
    </text>
</svg>