<svg version="1.1" viewBox="0 0 14.329 14.329" class={{ classes }} role="img" width="15px" height="15px">
  <title id="play-btn-title">
    {%if title %}
    {{ title }}
    {%else%}
    Plus sign
    {%endif%}
  </title>
  <polygon points="14.329,5.665 8.665,5.665 8.665,0 5.665,0 5.665,5.665 0,5.665 0,8.665 5.665,8.665 5.665,14.329 8.665,14.329 8.665,8.665 14.329,8.665 "/>
</svg>