<svg version="1.1" viewBox="0 0 121.5 130.5" class="deco arrow {{ classes }}" aria-labelledby="arrow-outline-title arrow-outline-desc" role="img"
   {{ dataAttr }}>
    <title id="arrow-outline-title">Outlined arrow</title>
    <desc id="arrow-outline-desc">An outlined arrow</desc>
    <polygon fill="#fff" stroke="#231f20" stroke-miterlimit="10" stroke-width="10px" role="presentation" 
    points="60.3 118.5 60.3 84.5 116.5 84.5 116.5 46 60.3 46 60.3 12.1 7.1 65.3 60.3 118.5" />
    <image src="{{ 'arrow-outline.png' | asset_url }}" alt="right arrow" role="img" />
</svg>