<svg version="1.1" viewBox="0 0 81 51" aria-labelledby="eyeball-alt" role="img">
    <title id="eyeball-title">Select this button to see how the Two Blind Brothers see that Page</title>
    <desc id="eyeball-alt">
        There are lots of types of blindness. We have Stargardt's, a type of macular degeneration that means we lose vision in the center of the retina. This simulator gives you peek at what its like to peep with our peepers.
    </desc>
    <text class="h4 eyeball-text">
        <tspan x="10" y="10">See how </tspan>
        <tspan x="17" y="25">We See</tspan>
    </text>
    <path class="blink" d="M84,28.7l-.8,1.5a45.3,45.3,0,0,1-79.9,0l-.8-1.5.8-1.5a45.3,45.3,0,0,1,79.9,0Z" fill="#fff" />
    <circle class="blink" cx="42" cy="26" r="16" stroke-width="6" fill="#fff" stroke="#231F20" />
    <path class="blink" d="M51,25.3a7.8,7.8,0,1,1-7.8-7.8l1.8.2v5.5h5.7A7.8,7.8,0,0,1,51,25.3Z" fill="#231F20" />
    <path class="blink" d="M51,25.3a7.8,7.8,0,1,1-7.8-7.8l1.8.2v5.5h5.7A7.8,7.8,0,0,1,51,25.3Z" fill="#231F20" />
    <path d="M76.9,28.7a39.1,39.1,0,0,1-67.3,0H2.5l.8,1.5a45.3,45.3,0,0,0,79.9,0l.8-1.5Z" fill="#231F20" />
    <path class="blink" d="M9.6,28.7a39.1,39.1,0,0,1,67.3,0H84l-.8-1.5a45.3,45.3,0,0,0-79.9,0l-.8,1.5H9.6Z"
        fill="#231F20" />
</svg>