<div class="w-full max-w-[1440px] mx-auto px-4 sm:px-8 md:px-10 lg:px-[56px]">
  {% render 'reserve-breadcrumb' %}
</div>

{% schema %}
{
  "name": "Reserve Breadcrumbs",
  "settings": [],
  "presets": [
    {
      "name": "Reserve Breadcrumbs"
    }
  ]
}
{% endschema %}