{% unless section.settings.hide_reviews %}
  {% if section.blocks.size > 0 or section.settings.title != empty or section.settings.subheader != empty %}
    <section class="text-center">
      <div data-section-id="{{ section.id }}" id="shopblind-reviews" data-section-type="reviews">
        {% if section.settings.title or section.settings.subheader %}
          <div class="page-width">
            <div class="section-header flex-grid flex-center text-center">
              <div>
                {% if section.settings.title %}
                  <h2 class="h1 text-center uppercase icons-section-title">{{ section.settings.title }}</h2>
                {% endif %}
                {% if section.settings.subheader %}
                  <div class="text-center">{{ section.settings.subheader }}</div>
                {% endif %}
              </div>
            </div>
          </div>
        {% endif %}
        {% if section.blocks %}
          <div class="slideshow-wrapper">
            <div class="slideshow-arrow-wrapper arrow-wrapper-left">
              <div class="slider-arrow arrow-left">
                {% render 'icon-chevron-left' %}
              </div>
            </div>
            <div class="carousel-slides mx-auto flex-gutter-medium flex-center">
              {% for block in section.blocks %}
                {% render 'review-slide', block: block %}
              {% endfor %}
            </div>
            <div class="slideshow-arrow-wrapper arrow-wrapper-right">
              <div class="slider-arrow arrow-right">
                {% render 'icon-chevron-right' %}
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </section>
  {% endif %}
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js" defer="defer"></script>
  <script src="{{ 'carousel.js' | asset_url }}" defer="defer"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" />
{% endunless %}

{% schema %}
{
  "name": "Shop Blind Reviews",
  "settings": [
    {
      "type": "checkbox",
      "id": "hide_reviews",
      "label": "Hide Reviews?"
    },
    {
      "type":      "header",
      "content":   "Reviews"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Header"
    },
    {
      "type": "richtext",
      "id": "subheader",
      "label": "Text"
    }
  ],
  "blocks": [
    {
      "type": "review",
      "name": "Review",
      "settings": [
        {
          "type": "text",
          "id": "name",
          "label": "Name"
        },
        {
          "type": "text",
          "id": "date",
          "label": "Date",
          "info": "Use format MM/DD/YY"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Review Title"
        },
        {
          "type": "richtext",
          "id": "review",
          "label": "Review"
        },
        {
          "type": "range",
          "id": "stars",
          "label": "Stars",
          "default": 5,
          "min": 1,
          "max": 5,
          "step": 1
        }
      ]
    }
  ]
}
{% endschema %}
