<div class="hero page-hero hero--404" style="background-image:url('{{ '2BB_404_IMAGE.jpg' | file_img_url: '1600x800' }}'); background-position:bottom">
  <div class="wrapper">
       <div class="hero-text hero-text--home">
           <h1 class="slab">
            <span class="slabtext">{{ 'general.404.title' | t }}</span>
            <span class="slabtext">Can't Seem to</span> 
            <span class="slabtext">Find that page</span>
            </h1>
             
            <div class="hero-description" style="margin-top:30px">
                <a class="bold" href="/collections/mens" title="Shop Men's">Shop Men's</a>
                <a class="bold" href="/collections/womens" title="Shop Women's" style="margin-left:15%">Shop Women's</a>
            </div>
        </div>
    </div>
</div>