{% layout none %}
<div id="post-checkout-wrapper" role="dialog" labelledby="upgrade-order" aria-modal="true" aria-hidden="true">
    <div id="sb-options-wrapper" class="">
        <div id="sb-options-container">
            <form id="sb-options-form">
                <div id="sb-options-scroll">
                    <div id="sb-options">
                        <div id="sb-options-header" class="text-center">
                            <h2 id="upgrade-order" class="text-uppercase text-center">Your order is all set!</h2>
                            <p>If you'd like to personalize your order, select from the following options</p>
                        </div>
                        <div id="sb-items-wrapper">
                        </div>
                    </div>
                </div>
                <a class="close-modal" href="#close-modal" name="Close modal">
                    <svg width="13px" height="13px" viewBox="0 0 13 13" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Desktop" transform="translate(-496.000000, -116.000000)" fill="#000000">
                                <polygon id="Fill-1" points="507.369 116 502.502 120.867 497.635 116 496 117.635 500.867 122.503 496 127.37 497.635 129.004 502.502 124.137 507.369 129.004 509.004 127.37 504.137 122.503 509.004 117.635">
                                </polygon>
                            </g>
                        </g>
                    </svg>
                </a>
                <a class="no-thanks" href="#no-thanks">No Thanks</a>
                <button type="submit" id="submit-sb-order">Submit</button>
            </form>
        </div>
    </div>
</div>

{{ 'post-checkout.scss.css' | asset_url | stylesheet_tag }}
{{ 'aria-modal.js' | asset_url | script_tag  }}