<style>
.curingblindness__hero{background:#231f20;position:relative;height:80vh}.curingblindness__hero_svg{max-width:800px;margin:0 auto}.curingblindness__hero__down{position:absolute;left:50%;width:75px;transform:translate(-50%, 50%);height:200px;bottom:0}.curingblindness__mainarea{margin:60px auto;max-width:98%}.curingblindness__happening{position:relative;z-index:1;margin-top:30px}.curingblindness__happening p{margin-bottom:0}.curingblindness__happening--right{top:0 !important}.u-svg-width{max-width: 600px; margin: 0 auto}.curingblindness__profits__profitsforcure{margin-bottom:90px}.curingblindness__profits{position:relative}.curingblindness__profitsforcure__tee{z-index:1;max-width:90%}.curingblindness__profits__timefundingh{max-width:550px;margin:0 auto !important}.curingblindness__braille__feel{position:absolute;z-index:1;width:105px;top:188px;right:-20px}.curingblindness__why{position:relative;margin-bottom:50px;z-index:0}div[class*='timeline__']{position:absolute;left:15%;width:80%;padding-left:10px}div[class*='timeline__']:before{content:'';width:100px;height:4px;background:#231f20;position:absolute;top:-10px}div[class*='timeline__'] p{margin-bottom:0;word-break:break-word}.timeline__1{left:8.75%;top:150px}.timeline__3{left:33%;top:270px}.timeline__4{left:45%;top:400px}.timeline__5{left:57%;top:521px}.timeline__7{left:81%;top:647px}.timeline__end{right:0;width:395px !important;top:775px !important;width:80% !important;min-width:300px !important}.timeline__end:before{background:#fff !important}.timeline__title {top: 45px}.timeline__title:before{background: #fff !important}.timeline__end img{width:25px;float:left;display:inline-block}.timeline__end p{display:inline-block;float:left;width:70%;font-weight:700 !important;padding-left:20px}#timeline_m{height:950px;position:relative;margin:120px 0 90px 15px;}#timeline_m:before,#timeline_m:after{content:'';width:80px;display:block;background-repeat:no-repeat;background-size:contain;position:absolute;left:-10px}#timeline_m:after{background-image:url(//cdn.shopify.com/s/files/1/1330/8707/t/7/assets/eye-open.png?13846329055438864632);bottom:0;height:100px}#timeline_m:before{background-image:url(//cdn.shopify.com/s/files/1/1330/8707/t/7/assets/eye-closed.png?13846329055438864632);height:52px}.timeline_m{position:absolute;transform:translate(-50%, 50px);left:30px}.curingblindness__restoring__tee{height:350px;transition:all ease 150ms;width:100%;pointer-events:none}.yellow1{width:50%;height:340px;right:0;z-index:0;background:#f0d83d;bottom:165px;right:-20px}.yellow2{width:93%;height:67px;bottom:-35px;left:0;top:50%;background:#f0d83d;z-index:-1}.braille--so-close{height:30px;top:-15px;right:-10px}.eyeballs{margin:120px auto 20px;display:block;text-align:center}.eyeball{display:inline-block;max-width:70px;margin-left:5px}.animated{animation-duration:1s;animation-fill-mode:both}@keyframes fadeIn{from{opacity:0}to{opacity:1}}.fadeIn{animation-name:fadeIn}@keyframes fadeInUp{from{opacity:0;transform:translate3d(0, 100%, 0)}to{opacity:1;transform:none}}.fadeInUp{animation-name:fadeInUp}@keyframes slideInRight{from{transform:translate3d(100%, 0, 0);visibility:visible}to{transform:translate3d(0, 0, 0)}}.slideInRight{animation-name:slideInRight}
</style>

    
<div id="curingblindness">
    <div class="curingblindness__hero">
        <div class="centered-vertical">
            <div class="scaling-container" style="width:100%; padding-top:50%">
                {% include 'svg_copy_were-in-business-to-cure-blindness_m' %}
            </div>
        </div>
      
            {% include 'svg_arrow-solid',
            classes: 'curingblindness__hero__down',
            fill: '#f0d83d' %}
        
    </div>
     
    <div class="curingblindness__mainarea" id="mainarea">
        <div class="wrapper thinner">
                <div class="curingblindness__happening clearfix">
                    <div class="scaling-container wow fadeInUp" style="width:100%; padding-top:100%; margin-bottom:90px">
                        {% include 'svg_badge_a-cure-for-blindness' , 
                        classes: 'curingblindness__happening__badge u-svg-width' %}
                    </div>
                     <div class="scaling-container curingblindness__happening--right wow fadeInUp" style="width:100%; padding-top:40%">
                           {% include 'svg_copy_this-is-happening-m' %}
                    </div>
                    <p class="wow fadeInUp" data-wow-delay=".5s">The scientific community is racing towards a breakthrough as you read this. Don’t just believe us: believe <a  href="http://www.cnn.com/2016/03/07/health/using-stem-cells-to-cure-blindness/index.html" title="Using Stem Cells to Cure Blindness" target="_blank" rel="noopener">CNN</a>, <a href="http://www.nationalgeographic.com/magazine/2016/09/blindness-treatment-medical-science-cures/" title="Why There’s New Hope About Ending Blindness" target="_blank" rel="noopener">National Geographic</a>, and <a href="http://time.com/4026658/blindness-cure-treatment/" title="Bionic Eyes, Stem Cells and Gene Therapy: 3 Cutting Edge Cures for Blindness" target="_blank" rel="noopener">TIME</a>.</p>
                </div> 
        
            <div class="curingblindness__profits wow fadeInUp">
                <div class="curingblindness__profits__profitsforcure">
                   <div class="scaling-container" style="width:100%;">
                        {% include 'svg_tee_100-profits',
                        classes: 'curingblindness__profitsforcure__tee'%} 
                    </div>
                    {% include 'svg_braille_feel',
                    classes: 'curingblindness__braille__feel' %}
                <div class="deco yellow1"></div>
                </div>
            </div>
            <div class="wow fadeInUp">
                {% include 'svg_copy_the-development-of-a-cure-requires-time-funding',
                    classes: 'curingblindness__profits__timefundingh' %}
                <p>So, you can see why we're selling shirts and donating 100% of our profits to make this a reality.</p>
           </div>
       
            <div class="scaling-container wow fadeInUp" style="width:100%; padding-top:80%; margin-top:120px; margin-bottom:120px">
                {% include 'svg_copy_thats-where-you-come-in_m'%}
            </div>
            <div class="is-relative wow fadeInUp">
                <img src="{{ 'duotone-eye.png' | asset_img_url: '500x465', crop:'center' }}" alt="yellow toned eye background image" style="margin: 0 auto; display: block;">
                {% include 'svg_braille_so-close',
                classes: "deco braille--so-close" %}
            </div>  
            <div class="curingblindness__hours__hours wow fadeInUp">
                <div class="scaling-container" style="width:100%; padding-top:40%">
                    {% include 'svg_copy_30678-hours_m' %}
                </div>
                <p style="text-align:center">of clinical studies through Foundation Fighting Blindness (FFB).</p>
            </div>

        
        

          <div class="eyeballs wow fadeIn">
            <img src="{{ 'eye2.svg' | asset_url }}" alt="eyeball illustration" role="img" class="eyeball lazyload">
            <img src="{{ 'eye2.svg' | asset_url }}" alt="eyeball illustration" role="img" class="eyeball lazyload" >
          </div>

        <div class="curingblindness__why">
           <div class="deco yellow2  wow fadeInUp"></div>
            {%include 'svg_copy_why',
                classes: 'svg-text' %}
        </div>
       
        <div class="is-relative wow fadeInUp">
             {% include 'svg_copy_were-just-two' %}
              <p>of the more than <strong>10 million people</strong> in the U.S. <strong>who could benefit</strong> from the promising stem-cell-transplant research, gene-therapy treatment and <strong>clinical trials completed</strong> in the <strong>last 50 years</strong> and underway today.</p>
        </div>
         
     </div>

      <div id="timeline_m">
        
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 11.1 564.8" width="15px" class="timeline_m"  preserveAspectRatio="xMinYMin meet" style="z-index:0">
            <path d="M11.1,159.7c0-1.6-0.7-3.1-1.8-4.1V71.8c1.1-1,1.8-2.5,1.8-4.1s-0.7-3.1-1.8-4.1V0H1.8v63.6
                     c-1.1,1-1.8,2.5-1.8,4.1s0.7,3.1,1.8,4.1v83.8c-1.1,1-1.8,2.5-1.8,4.1c0,1.6,0.7,3.1,1.8,4.1v83.8c-1.1,1-1.8,2.5-1.8,4.1
                     c0,1.6,0.7,3.1,1.8,4.1v83.8c-1.1,1-1.8,2.5-1.8,4.1s0.7,3.1,1.8,4.1v83.8c-1.1,1-1.8,2.5-1.8,4.1c0,1.6,0.7,3.1,1.8,4.1v83.8
                     c-1.1,1-1.8,2.5-1.8,4.1c0,1.6,0.7,3.1,1.8,4.1v33.1h7.5v-33c1.1-1,1.8-2.5,1.8-4.1c0-1.6-0.7-3.1-1.8-4.1v-83.8
                     c1.1-1,1.8-2.5,1.8-4.1c0-1.6-0.7-3.1-1.8-4.1v-83.8c1.1-1,1.8-2.5,1.8-4.1s-0.7-3.1-1.8-4.1v-83.8c1.1-1,1.8-2.5,1.8-4.1
                     c0-1.6-0.7-3.1-1.8-4.1v-83.8C10.4,162.8,11.1,161.3,11.1,159.7z"
                     fill="#ebebeb"/>
        </svg>
        
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 11.1 564.8" width="15px" class="timeline_m"  preserveAspectRatio="xMinYMin meet" style="z-index:1">
                <mask id="mask_m">
                  <rect width="20" height="532.5" fill="#f0d83d"
                         x="0" y="0">
                  </rect>
                </mask>
            <path d="M11.1,159.7c0-1.6-0.7-3.1-1.8-4.1V71.8c1.1-1,1.8-2.5,1.8-4.1s-0.7-3.1-1.8-4.1V0H1.8v63.6
                     c-1.1,1-1.8,2.5-1.8,4.1s0.7,3.1,1.8,4.1v83.8c-1.1,1-1.8,2.5-1.8,4.1c0,1.6,0.7,3.1,1.8,4.1v83.8c-1.1,1-1.8,2.5-1.8,4.1
                     c0,1.6,0.7,3.1,1.8,4.1v83.8c-1.1,1-1.8,2.5-1.8,4.1s0.7,3.1,1.8,4.1v83.8c-1.1,1-1.8,2.5-1.8,4.1c0,1.6,0.7,3.1,1.8,4.1v83.8
                     c-1.1,1-1.8,2.5-1.8,4.1c0,1.6,0.7,3.1,1.8,4.1v33.1h7.5v-33c1.1-1,1.8-2.5,1.8-4.1c0-1.6-0.7-3.1-1.8-4.1v-83.8
                     c1.1-1,1.8-2.5,1.8-4.1c0-1.6-0.7-3.1-1.8-4.1v-83.8c1.1-1,1.8-2.5,1.8-4.1s-0.7-3.1-1.8-4.1v-83.8c1.1-1,1.8-2.5,1.8-4.1
                     c0-1.6-0.7-3.1-1.8-4.1v-83.8C10.4,162.8,11.1,161.3,11.1,159.7z"
                     fill="#f0d83d"
                  mask="url(#mask_m)">
            </path>
        </svg>
        <div class="timeline__title wow slideInUp">
            <h2>A look at how close we are</h2>
        </div>
		<div class="timeline__1 wow slideInRight" data-wow-offset="120">
            <span class="h6">1988</span>
            <p>Retinal cells are transplanted in animals</p>
          </div>
        
        <div class="timeline__3 wow slideInRight" data-wow-offset="100">
            <span class="h6">2000</span>
            <p>Artificial retina is implanted in humans</p>
         </div>
        
        <div class="timeline__4 wow slideInRight" data-wow-offset="100">
            <span class="h6">2006</span>
            <p>Retinal cells are developed from stem cells</p>
          </div>

          <div class="timeline__5 wow slideInRight" data-wow-offset="100">
            <span class="h6">2009</span>
            <p>Retinal cells are developed from skin cells</p>
          </div>

          <div class="timeline__7 wow slideInRight" data-wow-offset="100">
            <span class="h6">2016</span>
            <p>Stem-cell therapy is successful on first patient</p>
          </div>

          <div class="timeline__end wow slideInRight" data-wow-offset="50">
             <img src="{{'arrow-outline.svg' | asset_url }}" role="presentation"/><p class="h2">Help us close the gap</p>
          </div>

      </div>
      <div class="wrapper thinner">
          <div class="scaling-container wow fadeIn" style="width:100%; padding-top:30%">
              {% include 'svg_copy_restoring-sight-is-in-store' %}
         </div>
        <div class="wow fadeIn">
            {% include 'svg_tee_be-part-of-the-cure',
                classes: 'curingblindness__restoring__tee' %}
        </div>
       <div class="text-center">
            <a class="bold" href="/collections/mens" title="Shop Men's">Shop Men's</a>
            <a class="bold" href="/collections/womens" title="Shop Women's" style="margin-left:15%">Shop Women's</a>
        </div>
    </div>
</div> <!-- end curingblindness__mainarea -->
    
    {% section 'curing_custom-sections' %}
    {% section 'curing_custom-grid' %}
    {% include 'blog-recent-posts' %}

  </div>
  
{%comment%}
  <script type="text/javascript">
    $(window).on('load resize',function(){
        if($(window).width() > 768){
            window.location = "https://two-blind-brothers.myshopify.com/pages/curing-blindness"
        }
    });
</script>
{%endcomment%}