{% layout 'theme.guidedog' %}
<div class="grid-flex text-center" style="border:none;">
  <div itemscope itemtype="http://schema.org/Product">
    <h1>Ready to take the Guide Dog Challenge?</h1>
    <a class="btn" style="display: inline-block; margin: 0 auto 2rem" href="https://guidedogchallenge.com">Sign Up</a>
  </div>
</div> <!-- grid-->
